<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/signed_in_home"><span class="orange" translate>Me</span>-<translate>2</translate>-<span class="orange" translate>You</span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/contacts_activity" translate>Contacts' Activity</a></li>
        <li><a href="/#/resources" translate>Resources</a></li>
        <li><a href="/#/send_invite" class="clear"><button type="button" class="btn btn-orange" translate> + New Invitation</button></a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle clear" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <img src="../images/sarah.png" alt="sarah" style="margin-right: 10px;"><translate>Sarah Student</translate> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/#/account_settings" translate>Account Settings</a></li>
            <li><a href="/#/about" translate>About This App</a></li>
            <li><a href="/#/contact_us" translate>Contact Us</a></li>
            <li><a href="/#/" translate>Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container main-container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10"><br/><br/>
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" translate>
                        Contact Us
                    </h1>
                    <div class="main-content">
                      <form class="form-horizontal" role="form">
                          <div class="form-group col-sm-10">
                            <input class="form-control" type="text" placeholder="{{'Username'|translate}}" readonly>
                          </div>
                          <div class="form-group col-sm-10">
                            <input class="form-control" type="email" placeholder="{{'email@example.com'|translate}}" readonly>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-10">
                              <textarea class="form-control" rows="3" placeholder="{{'Your Message'|translate}}"></textarea>
                            </div>
                          </div>
                          <div class="form-group" style="text-align: center;"> 
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default send-btn"><translate>Send Message</translate></button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

