<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/signed_in_home"><span class="orange" translate>Me</span>-<translate>2</translate>-<span class="orange" translate>You</span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/contacts_activity" translate>Contacts' Activity</a></li>
        <li><a href="/#/resources" translate>Resources</a></li>
        <li><a href="/#/send_invite" class="clear"><button type="button" class="btn btn-orange" translate> + New Invitation</button></a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle clear" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <img src="../images/sarah.png" alt="sarah" style="margin-right: 10px;"><translate>Sarah Student</translate> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/#/account_settings" translate>Account Settings</a></li>
            <li><a href="/#/about" translate>About This App</a></li>
            <li><a href="/#/contact_us" translate>Contact Us</a></li>
            <li><a href="/#/" translate>Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container main-container" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10"><br/><br/>
      <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-danger center" ng-show="showErrorMsg" role="alert">Your email was not able to be sent.</div>
                    <h1 class="page-header" translate>
                        Send Invitation
                    </h1>
                    <div class="main-content">
                        <form class="form-horizontal" role="form" ng-submit="sendInvite()" name="form.theForm">
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="firstName" translate>First Name:</label>
                            <div class="col-sm-10">
                              <input type="text" name="form.firstName" class="form-control" ng-model="firstName" id="firstName" placeholder="{{'First Name'|translate}}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="lastName" translate>Last Name:</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" ng-model="lastName" id="lastName" placeholder="{{'Last Name'|translate}}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="email" translate>Email:</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" ng-model="emailAddress" id="email" placeholder="{{'email@example.com'|translate}}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="language" translate>Select Email Language:</label>
                            <div class="col-sm-10">
                              <select class="form-control" ng-model="emailLanguage">
                                <option selected translate>English</option>
                                <option translate>Hungarian</option>
                               </select>
                            </div>
                          </div>
                          <div class="form-group" ng-show="showTextField">
                            <label class="control-label col-sm-2" for="language" translate>Add Personalized Message:</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" rows="3" ng-model="customMessage"  placeholder="{{'Add personalized message here!'|translate}}"></textarea>
                            </div>
                          </div>
                          <div style="text-decoration: underline; text-align: right;">
                            <a href="" ng-click="showTextField = !showTextField" translate>Customize Intro Message</a>
                          </div><br/>
                          <div class="form-group center"> 
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" ng-disabled="isDisabled" ng-show="showSendBtn" class="btn btn-lg btn-orange send-btn"><translate>Send Invitation</translate></button>
                              <div>
                                <button class="btn btn-lg btn-orange" ng-show="showSendingBtn" ng-disabled="true"><div class="loader">Sending...</div></button>
                              </div>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
