<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/signed_in_home"><span class="orange" translate>Me</span>-<translate>2</translate>-<span class="orange" translate>You</span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/contacts_activity" translate>Contacts' Activity</a></li>
        <li><a href="/#/resources" translate>Resources</a></li>
        <li><a href="/#/send_invite" class="clear"><button type="button" class="btn btn-orange" translate> + New Invitation</button></a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle clear" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <img src="../images/sarah.png" alt="sarah" style="margin-right: 10px;"><translate>Sarah Student</translate> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/#/account_settings" translate>Account Settings</a></li>
            <li><a href="/#/about" translate>About This App</a></li>
            <li><a href="/#/contact_us" translate>Contact Us</a></li>
            <li><a href="/#/" translate>Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container main-container">
  <div class="row">
    <div class="col-md-12 lesson-links">
      <translate>Lesson 1</translate> | <a href=""><translate>Lesson 2</translate></a> | <a href=""><translate>Lesson 3</translate></a> | <a href=""><translate>Lesson 4</translate></a> | <a href=""><translate>Lesson 5</translate></a> | <a href=""><translate>Lesson 6</translate></a> | <a href=""><translate>Lesson 7</translate></a> | <a href=""><translate>Lesson 8</translate></a>
    </div>
    <div class="col-md-12">
      <h1 translate>You Are Currently Editing Lesson 1 of 8</h1>
      <h2 translate>Lesson # 1 - Is God in my life now?</h2><br/>
      <translate>
      Welcome to your first email, in this 7-part series.</translate><br/>

      <translate>Congratulations, by the way, on beginning a relationship with God. When you asked Jesus into your life, you began the 
      most valuable relationship a person could have.</translate><br/><br/>
      <table class="edit-table" style="width:100%">
        <tr>
          <td>
            <div class="edit-table-btn"><button type="submit" class="btn btn-default btn-orange send-btn"><translate>Edit This Section</translate></button></div><br/>
            <translate>
            The night that I asked Jesus into my life, I knew it was a big decision. I had been a skeptic/atheist for years. To 
            speak out loud, into the air, and talk to God felt monumental.</translate> <br/>

            <translate>It also seemed absolutely right to do.</translate> <br/>

            <translate>My prayer was brief. "Ok, you win. I ask you to come into my life. You may do with it whatever you want."</translate> <br/>

            <translate>In my mind, I was simply acknowledging God's existence. As God, it seemed to me, he had a right to influence 
            my life.</translate> <br/>

            <translate>Here's the first thing I noticed about God: God is invisible. (Impressed, aren't you?) But actually, this was an issue.</translate><br/>
          </td>
        </tr>
      </table>
      <br/>
      <translate>
      I mean, when you asked Jesus to come into your life, how do you really know that he's there? You can't see him. </translate><br/>


      <translate>How do you know that he really entered your life?</translate> <br/>


      <translate>Does it rely on your sincerity? Or what you said inyour prayer? Or how you feel?</translate> <br/>


      <translate>No. None of these.</translate>  <br/>


      <translate>You have a relationship with God now, because he offered it to you. You simply responded to him.</translate><br/>


      <translate>This article will explain how you can be sure that Jesus is in your life -- and what that means!</translate><br/>

      <translate>http://www.startingwithgod.com/new-life/am-i-christian   (You might want to write down one or two of the sentences from the Bible that are mentioned in this article. And maybe put that paper on your desk or nightstand to look at again later.)</translate><br/>

      <translate>If you have any questions, we are happy to chat with you. Just email me here:</translate><br/><br/>
      <form class="form-horizontal" role="form">
        <div class="form-group col-sm-10">
          <translate>Your Email Address: </translate><br/>
          <input class="form-control" type="email" placeholder="{{'sarah.student@school.com'|translate}}">
        </div>

        <div class="form-group col-sm-10">
          <translate>Salutation: </translate><br/>
          <input class="form-control" type="text" placeholder="{{'Sincerely,'|translate}}">
        </div>

        <div class="form-group col-sm-10">
          <translate>Signature: </translate><br/>
          <input class="form-control" type="text" placeholder="{{'Sarah S.'|translate}}">
        </div>
        
        <div class="form-group" style="text-align: center;"> 
          <div class="col-sm-10">
            <a href="/#/"><button type="submit" class="btn btn-default btn-orange send-btn"><translate>Save Changes</translate></button></a>
            <a href="/#/signed_in_home"><button type="" class="btn btn-default send-btn"><translate>Reset to Defaults</translate></button></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
