<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navmenu-fixed-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Spiritual Starter Kit</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="greetings">
                            <div class="greetings-image"><img src="../images/sk.png" /></div> Hi Sarah{{fname}}!<br/>
                </li>
                <li>
                    <a href="/#/signed_in_home"><i class="fa fa-fw fa-bar-chart-o"></i> Statistics</a>
                </li>
                <li>
                    <a href="/#/send_invite"><i class="fa fa-fw fa-inbox"></i> Invite</a>
                </li>
                <li>
                    <a href="/#/resources"><i class="fa fa-fw fa-table"></i> Resources</a>
                </li>
                <li class="active">
                    <a href="/#/about"><i class="fa fa-fw fa-desktop"></i> About</a>
                </li>
                <li>
                    <a href="/#/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li>
                    <a href="/#/contact_us"><i class="fa fa-fw fa-edit"></i> Contact Us</a>
                </li>
                <li class="sign-out-btn-wrapper">
                    <button type="button" class="btn btn-default sign-out-btn"aria-expanded="false">
                        Sign Out
                    </button>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        About
                    </h1>
                    <div class="main-content">
                      Freegan helvetica hoodie organic deep v try-hard, photo booth letterpress butcher vinyl 90's. DIY portland pop-up mustache, biodiesel banjo pabst knausgaard echo park. Schlitz deep v meh squid, health goth jean shorts bushwick master cleanse synth locavore trust fund. Flannel bitters farm-to-table normcore, crucifix pabst literally hashtag forage listicle pitchfork. Health goth fixie blog photo booth lo-fi chambray, scenester intelligentsia knausgaard put a bird on it. DIY echo park sustainable readymade, meh gastropub drinking vinegar chicharrones tilde trust fund green juice kale chips knausgaard XOXO 90's. Gluten-free quinoa neutra, williamsburg shabby chic hella green juice kinfolk meh humblebrag biodiesel.
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
