<div class="container main-container">
  <div class="first-block block">
    <div class="row banner">
<!--         <div class="col-md-12 first-heading">Spiritual Starter Kit</div>
 -->    </div>
    <div class="row">
      <div class="col-md-12"><br/><br/>
      <span class="introducing-ssk">Introducing the Spiritual Starter Kit</span><br/><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <span class="small-text">a resource to help you share your faith and help your friends grow spiritually</span>
      </div>
    </div>
    <div class="row"><br/><br/><br/><br/><br/><br/><br/>
      <a href=""><img src="images/learn_more.png"/ alt="learn more"></a>
    </div>
  </div>
  <div class="second-block block">
    <div class="row">
        <div class="col-md-5">
          <div class="second-heading">Share your faith.</div><br/>
          <div class="second-content">
            •   How to be sure that Jesus Christ entered your life.<br/>
            •   What God did to draw you to himself.<br/>
            •   What’s different about God’s love and why that matters.<br/>
            •   Why your relationship with God is secured by him, not you.<br/>
            •   What it means to trust God.<br/>
            •   What if you sin? Does God still forgive you?<br/>
            •   How to find a church, other Christians, or a Christian group on your campus.<br/>
          </div>
        </div>
        <div class="col-md-5 share-faith-img">
          <img src="images/share_faith.png"/ alt="share faith"></a>
        </div>
    </div>
  </div>
  <div class="third-block block">
    <div class="row">
        <div class="col-md-5 share-faith-img">
          <img src="images/engaging_content.png"/ alt="engaging content"></a>
        </div>
        <div class="col-md-5">
          <div class="second-heading">Engaging content.</div><br/>
          <div class="second-content">
            •   How to be sure that Jesus Christ entered your life.<br/>
            •   What God did to draw you to himself.<br/>
            •   What’s different about God’s love and why that matters.<br/>
            •   Why your relationship with God is secured by him, not you.<br/>
            •   What it means to trust God.<br/>
            •   What if you sin? Does God still forgive you?<br/>
            •   How to find a church, other Christians, or a Christian group on your campus.<br/>
          </div>
        </div>
    </div>
  </div>
  <div class="fourth-block block">
    <div class="row">
        <div class="col-md-5">
          <div class="second-heading">See the stats.</div><br/>
          <div class="second-content">
            •   How to be sure that Jesus Christ entered your life.<br/>
            •   What God did to draw you to himself.<br/>
            •   What’s different about God’s love and why that matters.<br/>
            •   Why your relationship with God is secured by him, not you.<br/>
            •   What it means to trust God.<br/>
            •   What if you sin? Does God still forgive you?<br/>
            •   How to find a church, other Christians, or a Christian group on your campus.<br/>
          </div>
        </div>
        <div class="col-md-5 share-faith-img">
          <img src="images/see_the_stats.png"/ alt="see the stats"></a>
        </div>
    </div>
  </div>
  <div class="fifth-block block">
    <div class="row">
        <div class="col-md-12 fifth-heading">
          Share your faith<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with engaging content<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and visualize the results!<br/>
        </div>
    </div>
    <div class="row"><br/><br/><br/><br/><br/><br/><br/>
      <a href=""><img src="images/get_started.png"/ alt="get started"></a>
    </div>
  </div>
</div>

<!-- <div class="container main-container">
  <div class="row banner first-block">
      <div class="col-md-12 first-heading">Spiritual Starter Kit</div>
  </div>
  <div class="row">
      <div class="col-md-4">
      <i class="fa fa-user-plus fa-5x"></i><br/><br/>
      <h3>Message from server: {{fname}}</h3>
      </div>
      <div class="col-md-4">
      <i class="fa fa-wechat fa-5x"></i><br/><br/>
      Keep in touch
      </div>

      <div class="col-md-4">
      <i class="fa fa-bar-chart fa-5x"></i><br/><br/>
      See the stats
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-12">
        <h2>Share the Spiritual Starter Kit</h2><br/>
        <img src="../images/rectangle.png" /><br/>
        Sample Email
      </div>
  </div>
  <div class="row buttondiv">
      <div class="col-md-12">
        <a href="#/" class="button">Get Started</a>
      </div>
  </div>
  <div>
  Footer
  </div>
</div> -->
