<div class="container main-container">
  <div class="first-block block">
    <div class="row banner">
        <div class="col-md-12 first-heading">Spiritual Starter Kit</div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <span class="introducing-ssk">Introducing the Spiritual Starter Kit</span><br/><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <span class="small-text">a resource to help you share your faith and help your friends grow spiritually</span>
      </div>
    </div>
  </div>
  <div class="second-block block">
    <div class="row banner">
        <div class="col-md-6 first-heading">Spiritual Starter Kit</div>
        <div class="col-md-6 first-heading">Spiritual Starter Kit</div>
    </div>
  </div>
  <div class="third-block block">
    <div class="row banner">
        <div class="col-md-6 first-heading">Spiritual Starter Kit</div>
        <div class="col-md-6 first-heading">Spiritual Starter Kit</div>
    </div>
  </div>
  <div class="fourth-block block">
    <div class="row banner">
        <div class="col-md-6 first-heading">Spiritual Starter Kit</div>
        <div class="col-md-6 first-heading">Spiritual Starter Kit</div>
    </div>
  </div>
  <div class="fifth-block block">
    <div class="row banner">
        <div class="col-md-6 first-heading">Spiritual Starter Kit</div>
        <div class="col-md-6 first-heading">Spiritual Starter Kit</div>
    </div>
  </div>
</div>

<!-- <div class="container main-container">
  <div class="row banner first-block">
      <div class="col-md-12 first-heading">Spiritual Starter Kit</div>
  </div>
  <div class="row">
      <div class="col-md-4">
      <i class="fa fa-user-plus fa-5x"></i><br/><br/>
      <h3>Message from server: {{fname}}</h3>
      </div>
      <div class="col-md-4">
      <i class="fa fa-wechat fa-5x"></i><br/><br/>
      Keep in touch
      </div>

      <div class="col-md-4">
      <i class="fa fa-bar-chart fa-5x"></i><br/><br/>
      See the stats
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-12">
        <h2>Share the Spiritual Starter Kit</h2><br/>
        <img src="../images/rectangle.png" /><br/>
        Sample Email
      </div>
  </div>
  <div class="row buttondiv">
      <div class="col-md-12">
        <a href="#/" class="button">Get Started</a>
      </div>
  </div>
  <div>
  Footer
  </div>
</div> -->
