<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navmenu-fixed-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Spiritual Starter Kit</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="greetings">
                            <div class="greetings-image"><img src="../images/sk.png" /></div> Hi Sarah{{fname}}!<br/>
                </li>
                <li>
                    <a href="/#/signed_in_home"><i class="fa fa-fw fa-bar-chart-o"></i> Statistics</a>
                </li>
                <li>
                    <a href="/#/send_invite"><i class="fa fa-fw fa-inbox"></i> Invite</a>
                </li>
                <li>
                    <a href="/#/resources"><i class="fa fa-fw fa-table"></i> Resources</a>
                </li>
                <li>
                    <a href="/#/about"><i class="fa fa-fw fa-desktop"></i> About</a>
                </li>
                <li class="active">
                    <a href="/#/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li>
                    <a href="/#/contact_us"><i class="fa fa-fw fa-edit"></i> Contact Us</a>
                </li>
                <li class="sign-out-btn-wrapper">
                    <button type="button" class="btn btn-default sign-out-btn"aria-expanded="false">
                        Sign Out
                    </button>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Settings
                    </h1>
                    <div class="main-content">
                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="firstName">First Name:</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="firstName" placeholder="{{fname}}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="lastName">Last Name:</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="lastName" placeholder="Kline">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="email" placeholder="{{fname}}.kline@cru.org">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Enter New Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Confirm New Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                          </div>
                          <div class="form-group" style="text-align: center;"> 
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default send-btn">Save Changes</button>
                              <div style="text-decoration: underline; text-align: center;"><br/>
                                <a href="">Delete Account</a>
                              </div>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
