<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navmenu-fixed-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Spiritual Starter Kit</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="greetings">
                            <div class="greetings-image"><img src="../images/sk.png" /></div> Hi Sarah!<br/>
                            <button type="button" class="btn btn-default sign-out-btn"aria-expanded="false">
                            Sign Out
                            </button>
                </li>
                <li class="active">
                    <a href="/#/signed_in_home"><i class="fa fa-fw fa-bar-chart-o"></i> Contact Stats</a>
                </li>
                <li>
                    <a href="/#/send_invite"><i class="fa fa-fw fa-inbox"></i> Send New Invites</a>
                </li>
                <li>
                    <a href="/#/resources"><i class="fa fa-fw fa-table"></i> Resources</a>
                </li>
                <li>
                    <a href="/#/about"><i class="fa fa-fw fa-desktop"></i> About This App</a>
                </li>
                <li>
                    <a href="/#/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li>
                    <a href="/#/contact_us"><i class="fa fa-fw fa-edit"></i> Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Contact Stats <small>Statistics Overview</small>
                    </h1>
                    <div class="main-content">
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td><span class="name">Abigail Johnson</span><br><small>Invited 10 days ago</small></td>
                            <td><a href="">Reinvite</a> <a href=""><i class="fa fa-question-circle"></i></a></td>
                          </tr>
                          <tr>
                            <td><span class="name">Chris Pun</span><br><small>Last Activity: 1 Day Ago</small></td>
                            <td>
                                <i class="fa fa-check" style="color: green;"></i>
                                <i class="fa fa-check" style="color: green;"></i>
                                <i class="fa fa-check" style="color: green;"></i>
                                <i class="fa fa-check" style="color: green;"></i>
                                <i class="fa fa-check" style="color: green;"></i>
                                <i class="fa fa-check"></i>
                                <i class="fa fa-check"></i>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="name">Paulo Saulo</span><br><small>Last Activity: 9 Days Ago</small></td>
                            <td>
                                <i class="fa fa-check" style="color: green;"></i>
                                <i class="fa fa-check" style="color: red;"></i>
                                <i class="fa fa-check"></i>
                                <i class="fa fa-check"></i>
                                <i class="fa fa-check"></i>
                                <i class="fa fa-check"></i>
                                <i class="fa fa-check"></i>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="name">Samantha Lin</span><br><small>Rejected: 12 Days Ago</small></td>
                            <td><a href="">Remove <i class="fa fa-close"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
