/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import "bootstrap";

.front-banner{
  height: 250px;
  width: 100%;
  background-image: url("../images/front_banner.png");
}

.navbar{
  margin: 0;
}

.btn-orange{
  background-color: #CB5209;
  color: white;
}

.orange{
  color: #CB5209;
}

.navbar-brand{
  font-size: 26px;
}

@media only screen and (min-width: 768px) {
  .navbar-brand{
    padding: 28px 15px 15px 15px;
  }
  .navbar-nav > li > a{
    padding: 28px 15px 15px 10px;
    font-size: 16px;
  }
  .navbar-nav > li > a:hover{
    text-decoration: underline;
  }
  .navbar-nav > li > .clear{
    padding: 23px 22px 22px 23px;
  }
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
