/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.front-banner{
  height: 250px;
  width: 100%;
  background-image: url("../images/front_banner.png");
}

.navbar{
  margin: 0;
}

.btn-orange{
  background-color: #CB5209;
  color: white;
}

.orange{
  color: #CB5209;
}

.navbar-brand{
  font-size: 26px;
}

.footer-basic-centered {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px;
  margin-top: 80px;
  .footer-company-motto {
    color: #8d9093;
    font-size: 24px;
    margin: 0;
  }
  .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
    }
  }
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
  .footer-basic-centered {
    padding: 35px;
    .footer-company-motto {
      font-size: 18px;
    }
    .footer-company-name {
      font-size: 12px;
    }
    .footer-links {
      font-size: 14px;
      padding: 25px 0 20px;
      a {
        line-height: 1.8;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar-brand{
    padding: 28px 15px 15px 15px;
  }
  .navbar-nav > li > a{
    padding: 28px 15px 15px 10px;
    font-size: 16px;
  }
  .navbar-nav > li > a:hover{
    text-decoration: underline;
  }
  .navbar-nav > li > .clear{
    padding: 23px 22px 22px 23px;
  }
}

.center{
  text-align: center;
}

/* Comments */

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
