<!DOCTYPE html>
<html>
<head>
  <title>Personalized SSK</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body ng-app="personalized_ssk" ng-controller="MainCtrl">
    <div class="container">
      <div class="row banner">
          <div class="col-md-12">The Spiritual Starter Kit</div>
      </div>
      <div class="row">
          <div class="col-md-4">
          <i class="fa fa-user-plus fa-5x"></i><br/><br/>
          Share your faith
          </div>
          <div class="col-md-4">
          <i class="fa fa-wechat fa-5x"></i><br/><br/>
          Keep in touch
          </div>

          <div class="col-md-4">
          <i class="fa fa-bar-chart fa-5x"></i><br/><br/>
          See the stats
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-md-12">
            <h2>Share the Spiritual Starter Kit</h2><br/>
            <img src="/assets/rectangle.png" /><br/>
            Sample Email
          </div>
      </div>
      <div class="row buttondiv">
          <div class="col-md-12">
            <a href="#" class="button">Share Your Faith!</a>
          </div>
      </div>
      <div>
      Footer
      </div>
    </div>
  </body>

</body>
</html>
